body {
    background-color: #f0f0f0; /* Cor de fundo */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000; /* Cor do texto */
}

header {
    background-color: #fff; /* Fundo branco para o cabeçalho */
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #ff0000; /* Vermelho */
}

main {
    padding: 20px;
}

.colega {
    margin-bottom: 20px;
}

.colega img {
    width: 200px; /* Tamanho da imagem */
    height: auto;
    border-radius: 50%; /* Para arredondar a imagem */
}

footer {
    background-color: #fff; /* Fundo branco para o rodapé */
    padding: 20px;
    text-align: center;
}