/* Altera a cor do título */
.nome h1 {
  color: #002ae6; /* Azul escuro */
}

/* Altera a cor de fundo */
body {
  background-color: #000000; /* Cinza claro */
}

/* Altera a cor do framework Bootstrap */
.bg-info {
  background-color: #ffffff00; /* Azul claro */
}