/* Altera a cor do título */
.nome h1 {
  color: #ffffff; /* Azul escuro */
}

/* Altera a cor de fundo */
body {
  background-color: #000000; /* Cinza claro */
}

/* Altera a cor do framework Bootstrap */
.bg-info {
  background-color: #4f0272; /* Azul claro */
}
